<div class="vertical-flex">
  <label>Server name</label>
  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
  <input type="text" class="form-control" [(ngModel)]="serverName" />
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add server
  </button>
  <p *ngIf="serverCreated">Server is created, its name is: {{ serverName }}</p>
  <label>Username</label>
  <input type="text" class="form-control" [(ngModel)]="userName" />
  <p>{{ userName }}</p>
  <button
    class="btn btn-primary"
    [disabled]="!userName"
    (click)="onResetUserName()"
  >
    Reset username
  </button>
  <!-- <p>{{ serverCreationStatus }}</p> -->
  <app-server *ngFor="let server of servers"></app-server>
  <button class="btn btn-primary" (click)="onShowDetails()">
    Display details
  </button>
  <p *ngIf="showDetails">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga facere
    laudantium odio quos, cupiditate nulla? Ex qui velit non, earum recusandae
    voluptates. At in ea beatae autem, inventore quos dolorem.
  </p>
  <p
    *ngFor="let logItem of logItems"
    [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
    [ngClass]="{ 'white-text': logItem >= 5 }"
  >
    {{ logItem }}
  </p>
</div>
